<!DOCTYPE html>
<html>
    <head>
            <title>404</title>
            <link rel="icon" href="/img/weather.png     ">
            <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img width="500px" src="/Img/404.gif" alt="I do not Own this image please visit https://www.ivandixon.com/work-1 for more"></img>
            <p></p>
            {{error404}}
        </div>
        {{>footer}}
    </body>
</html>