<!DOCTYPE html>
<html>
    <head>
            <title>About</title>
            <link rel="icon" href="/img/weather.png">
            <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/Img/avengers.gif" alt="I do not Own this image please visit https://www.ivandixon.com/work-1 for more"></img>
            <p>
                I do not Own this image please visit https://www.ivandixon.com/work-1 for more
            </p>
            <p>This site was created by <a target='_blank' href="https://www.linkedin.com/in/amrithnath/">Amrithnath Vijayakumar</a>. 
            
            It uses the <a target='_blank' href="https://www.mapbox.com/">Mapbox API</a> and the <a target='_blank' href='https://darksky.net/dev'>Darksky API</a>!

            You can View this project's sourcecode at <a target='_blank' href="https://github.com/Amrithnath/Weatherapp">Github</a>
            </p>
        </div>
        
        {{>footer}}
    </body>
</html>